@import "mixins";

.contact-content {
    text-align: justify;
    margin: 5rem 0 5rem 0;
    @include Flex (column, center, center);
    
    .contact-content-socialMedia {
        gap: 5rem;
        @include Flex (row, center, center);

        @media screen and (max-width: 575px) {
            gap: 0;
        }
        
        .contact-content-socialMedia-icons {
            margin-top: 2rem;
            width: 12rem;
            @include Flex (column, center, center);
            
            @media screen and (max-width: 575px) {
                width: 10rem;
                gap: 0;
                font-size: 0.8rem;
            }

            .contact-content-socialMedia-icons-icon {
                @include Flex (column, center, center);
                transition: all 1s ease;

            }
            .contact-content-socialMedia-icons-icon:hover {
                font-size: 55px;
            }
        }
    }
}